/* Role Management */

.role-config{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px 40px 0px;
}

.tab-section{
    margin-top: 10px;
    position: relative;
}
.create-col{  
    width: 520px;
    padding-bottom: 53px;
}
.tab-nav{
    margin-right: 20%;
}
#tab-nav-ul li a{
    color: #828282;
    
}
.tab-button{
    float: right;
    margin: 300px 80px 40px 0px;
    
}