/* Role Management */

.role-config {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px 40px 0px;
}

.tab-section {
    margin-top: 10px;
    position: relative;
}

.create-col {
    width: 520px;
    padding-bottom: 53px;
}
.tab-nested-routes{
    margin-bottom: -80px;
}

.tab-nav1 {
    margin-right: 20%;
    margin-top: 30px;
    margin-bottom: -70px;
}

#tab-nav-ul li a {
    color: #828282;


}

.tab-button {
    float: right;
    margin: 300px 80px 40px 0px;
}


/* Responsive */

@media only screen and (min-width: 1380px) {
    #tab-nav-ul li a {
        position:static;
        margin-left: 50px;
    }
    .create-col{
        width: 560px;
    }
    .ancor-nav1{
        margin-right: -50px;
       
    }
    .ancor-nav2{
        margin-right: -39px;
       
    }
    .ancor-nav3{
        margin-right: -33px;
       
    }
    .ancor-nav4{
        margin-right: 240px;
       
    }

}