* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  /* font-size: 14px; */


}

/* html{
  font-size: 15px;
} */

/* *::-webkit-scrollbar {
  width: 5px;
  background-color:#c4c4c4;
  border-top-radius: 5%;
} */

.login-wrap {
  height: 100vh;
  width: 100vw;
  background-color: white;
  position: relative;
}




.row .left-side-screen {
  background-color: #0FA958;
  box-sizing: border-box;
  -webkit-transform: skewx(-14deg);
  margin-left: -115px;

}

.left-side-screen>.inside-wrapper {
  height: 100vh;
  -webkit-transform: skewx(13deg);


}

.right-side-screen>.inside-wrapper {
  height: 100vh;


}


.login-to {
  font-size: 23px;
  font-weight: 300;
}

.form-color {
  background: #00602B;
}

.image-moderator {
  border: 2px solid #00602B;
  border-radius: 50%;
  height: 95px;
  width: 95px;
}


.sticky-nav {
  position: fixed;
  top: 0;
  /* left: -60; */
  z-index: 99999;
  width:83%;
  /* padding: 20px; */
  background: white;
  transition:all 0.2s ease-out;
}



/* //foooter */

/* .footer-area{
  position: absolute;
  bottom:-50px;
  top:100px;
} */