.post-top-con-wrapper{
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
}
.post-top-con-wrapper > .left-1{
    flex:1;
}
.left-1-inner-con{
    display: flex;
    align-items: center;
}

.post-top-con-wrapper >.left-2{
    background-color: #219653;
}

.left-1-inner-con-cat{
        width:100%;
}