* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 13px;
}

.sidebar-left1 {
    background: #0FA958;

    min-height: 100vh;
    font-size: 14px;
    cursor: pointer;

}

.menu-left {
    background-color: #00602B;
}


/* SideBar Active */
#user-mange:active {
    position: relative;
    background-color: #00602B;
    color: #f2f2f2;
    padding: 0px 3px 0px 5px;
    border-radius: 3px;
}

/* Toolbar */
.toolbar-input-div {
    margin-left: -10px;
}

.text-form {
    text-decoration: none;

}

/* .checker{
    margin:  0 !important;
    padding:  0 !important;
    width: 250px;
    margin-left:-30px
} */



/* .dashboard-top-cards{
    border:1px solid  #00602B;
} */
.fontaws-bold {
    background-color: #00602B;
}

.dashboard-card-top-wrapper {

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 14px
}


.all-left-public-li {
    list-style-type: none;
    color: #777777;

}

.pending-btn {
    background-color: #f2f2f2;
    border-radius: 14px;
    position: relative;

}

.badge-noti {
    position: absolute;
    right: -20px;
    top: 0px;

}

.publiction-num {
    color: #777777;

}

.total-pu-card-left {
    color: #777777;
    /* height: 140px; */

}

.publications-carousal {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);

}

.rounded-side {

    border-radius: 8px;

}

.publication {
    font-size: 15px;
}

.bb {
    width: 90%;
}



.slick-list {
    margin: 0 -5px;
}

.slick-slide>div {
    padding: 0 5px;
}

/* 
.slick-prev:before {
    content: "<";
    color: red;
    font-size: 30px;
    font-family: 'FontAwesome';

  }
  
  .slick-next:before {
    content: "-";
    color: red;
    font-size: 30px;
    background-color: #0FA958;
    font-family: 'FontAwesome';

  } */

/* .slick-prev:before,
  .slick-next:before {
   color: #307dff !important;
  } */
/* .slick-prev:before {
    content: "\f060 !important" ;
    color: red !important;
    font-size: 36px;
    font-family: "FontAwesome ";

    }
    ​
    .slick-next:before {
    content: ">" !important;;
    }
   */

.advertisements-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;

}

.card-no-1 {
    border-radius: 13px;
}

.card-h {
    height: 150px;
    position: relative;
}

.overlay-radius {
    position: absolute;
    background-color: #0FA958;
    /* padding: 10px; */
    border-top-right-radius: 13px;
    border-bottom-left-radius: 13px;
    right: 0;
    top: 0;

}



.card-no-1>.card-h>.card-image-tops {
    width: 100%;
    height: 100%;
}

.card-image-tops>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 13px;
    border-top-left-radius: 13px;
}

.footer-con {

    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;

}

.footer-con>div>i {
    color: #0FA958;
}

.hr-sign {
    width: 1px;
    height: 18px;
    background-color: #00602B;

}

@media only screen and (max-width: 500px) {
    .advertisements-card {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 18px;

    }

    .card-h {
        height: 160px;
        position: relative;
    }
}

@media only screen and (min-width: 1430px) {
    .toolbar-input-div {
        margin-left: 130px;
    }
}